.suggestions-container {
    position: relative;
    padding-left: 25%;
  }
  
  .suggestions {
    position: absolute;
    top: 0;
    padding-left: 1%;
    z-index: 1;
    background-color: #fff;
    border-radius: 10px;
  }
  
  .suggestions .suggestion-item {
    cursor: pointer;
  }
  
  .suggestions .suggestion-item:hover {
    background-color: lightgray;
  }
  
  
