.suggestions-container {
    position: relative;
    padding-left: 25%;
  }
  
  .suggestions {
    position: absolute;
    top: 0;
    padding-left: 1%;
    z-index: 1;
    background-color: #fff;
    border-radius: 10px;
    /* Additional styling for suggestions div */
  }
  
  .suggestions .suggestion-item {
    cursor: pointer;
  }
  
  .suggestions .suggestion-item:hover {
    background-color: lightgray;
  }
  
  .custom-pagination ul.pagination li a {
    color: black;
  }
  
  .custom-pagination ul.pagination li.active a {
    background-color: black;
    color: white;
  }
  
  .custom-pagination ul.pagination li.disabled a {
    color: gray;
  }
  
