<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"> 
<nav class="navbar navbar-expand navbar-dark bg-dark ">
<span id="boot-icon" class="bi bi-currency-bitcoin " style="font-size: 2rem; color: white; padding:6px;"></span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav ">
    <ul class="navbar-nav ml-auto ">
      <li class="nav-item">
        <a class="nav-link" >About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" >Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" >Contact</a>
        
        
      </li>
    </ul>
  </div>
  
  <div >
    <div class="container col-12 text-center ">
      <a style="color:white" href="#">Login or Signup here</a>
  </div>
  </div>
</nav><h2 class="fw-bold mb-4 mt-4  text-center text-black">Cryptocurrrencies </h2>
<form>
  <div class=" row align-items-center d-flex justify-content-center">
    <div class="col-6 ">
      <div class="input-group   mb-3 ">
        <input type="search" class="form-control" [(ngModel)]="searchInput" name="searchTerm" placeholder="Search here"
          (input)="showSuggestions()" autocomplete="off">
        <div class="input-group-append">
          <button class="btn btn-secondary" type="button" (click)="search()"
            (click)="showSuggestionsFlag=false">Search</button>
        </div>
      </div>
    </div>
  </div>
 


</form>
<div class="suggestions-container">
  <div *ngIf="showSuggestionsFlag" class="suggestions col-6">
    <div *ngFor="let data of filteredSuggestions" (click)="loadData(data)" class="suggestion-item">
      {{ data.baseAsset }}
    </div>
  </div>
</div>

<div *ngIf="Showtable" class="table-container mt-5">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Symbol</th>
          <th>Price</th>
          <th>Volume</th>
          <th>Bid Price</th>
          <th>High Price</th>
          <th>Low Price</th>
          <th>Last Price</th>
          <th>Open Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let obj of filteredObjects; let isFirstRow = first">
          <ng-container *ngIf="isFirstRow; else otherRow">
            <td>{{ obj.symbol }}</td>
            <td>{{ obj.askPrice | currency:'INR' }}</td>
            <td>{{ obj.volume }}</td>
            <td>{{ obj.bidPrice | currency:'INR'}}</td>
            <td>{{ obj.highPrice | currency:'INR'}}</td>
            <td>{{ obj.lowPrice | currency:'INR'}}</td>
            <td>{{ obj.lastPrice | currency:'INR'}}</td>
            <td>{{ obj.openPrice | currency:'INR'}}</td>

          </ng-container>
          <ng-template #otherRow>
            <td>{{ obj.symbol }}</td>
            <td>{{ obj.askPrice }}</td>
            <td>{{ obj.volume }}</td>
            <td>{{ obj.bidPrice }}</td>
            <td>{{ obj.highPrice }}</td>
            <td>{{ obj.lowPrice }}</td>
            <td>{{ obj.lastPrice }}</td>
            <td>{{ obj.openPrice }}</td>
          </ng-template>
        </tr>

      </tbody>
    </table>
  </div>
</div>

<div class="table-container mt-5">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Symbol</th>
          <th>Price</th>
          <th>Volume</th>
          <th>Bid Price</th>
          <th>High Price</th>
          <th>Low Price</th>
          <th>Last Price</th>
          <th>Open Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let obj of data | paginate: { itemsPerPage: 10, currentPage: currentPage, id: 'pagination-id' }">
          <td>{{ obj.symbol }}</td>
          <td>{{ obj.askPrice }}</td>
          <td>{{ obj.volume }}</td>
          <td>{{ obj.bidPrice }}</td>
          <td>{{ obj.highPrice }}</td>
          <td>{{ obj.lowPrice }}</td>
          <td>{{ obj.lastPrice }}</td>
          <td>{{ obj.openPrice }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <pagination-controls 
    (pageChange)="currentPage = $event" 
    id="pagination-id" 
    previousLabel="Previous"
    nextLabel="Next" class="custom-pagination"></pagination-controls>
  

</div>


 -->










 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"> 
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   <span id="boot-icon" class="bi bi-currency-bitcoin" style="font-size: 2rem; color: white; padding: 6px;"></span>
   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
     aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarNav">
     <ul class="navbar-nav ml-auto">
       <li class="nav-item">
         <a class="nav-link" href="#">About</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="#">Services</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="#">Contact</a>
       </li>
     </ul>
   </div>
   <div>
     <div class="container col-12 text-center">
       <a style="color:white" href="#">Login or Signup here</a>
     </div>
   </div>
 </nav>
 
 <h2 class="fw-bold mb-4 mt-4 text-center text-black">Cryptocurrencies</h2>
 
 <form class="mb-4">
   <div class="row align-items-center d-flex justify-content-center">
     <div class="col-6">
       <div class="input-group ">
         <input type="search" class="form-control " [(ngModel)]="searchInput" name="searchTerm" placeholder="Search here"
           (input)="showSuggestions()" autocomplete="off" >
         <button class="btn btn-secondary" type="button" (click)="search()" (click)="showSuggestionsFlag=false">Search</button>
       </div>
     </div>
   </div>
 </form>
 
 <div class="suggestions-container ">
   <div *ngIf="showSuggestionsFlag" class="suggestions  col-6">
     <div *ngFor="let data of filteredSuggestions | slice:0:10" (click)="loadData(data)" class="suggestion-item">
       {{ data.baseAsset }}
     </div>
   </div>
 </div>
 <h3 *ngIf="Showtable" class="text-center">Search Results</h3>
 <div *ngIf="Showtable" class="table-container mt-2  d-flex justify-content-center">

  <div class="table-responsive col-10">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Symbol</th>
          <th>Price</th>
          <th>Volume</th>
          <th>Bid Price</th>
          <th>High Price</th>
          <th>Low Price</th>
          <th>Last Price</th>
          <th>Open Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let obj of filteredObjects; let isFirstRow = first">
          <ng-container *ngIf="isFirstRow; else otherRow">
            <td>{{ obj.symbol }}</td>
            <td>{{ obj.askPrice | currency:'INR' }}</td>
            <td>{{ obj.volume }}</td>
            <td>{{ obj.bidPrice | currency:'INR'}}</td>
            <td>{{ obj.highPrice | currency:'INR'}}</td>
            <td>{{ obj.lowPrice | currency:'INR'}}</td>
            <td>{{ obj.lastPrice | currency:'INR'}}</td>
            <td>{{ obj.openPrice | currency:'INR'}}</td>

          </ng-container>
          <ng-template #otherRow>
            <td>{{ obj.symbol }}</td>
            <td>{{ obj.askPrice }}</td>
            <td>{{ obj.volume }}</td>
            <td>{{ obj.bidPrice }}</td>
            <td>{{ obj.highPrice }}</td>
            <td>{{ obj.lowPrice }}</td>
            <td>{{ obj.lastPrice }}</td>
            <td>{{ obj.openPrice }}</td>
          </ng-template>
        </tr>

      </tbody>
    </table>
  </div>
</div>
<h2 class="text-center pt-2">All Cryptocurrencies</h2>
 <div class="table-container mt-5 d-flex justify-content-center">
   <div class="table-responsive col-10">
     <table class="table table-striped ">
       <thead class="table-dark">
         <tr>
           <th>Symbol</th>
           <th>Price</th>
           <th>Volume</th>
           <th>Bid Price</th>
           <th>High Price</th>
           <th>Low Price</th>
           <th>Last Price</th>
           <th>Open Price</th>
         </tr>
       </thead>
       <tbody>
         <tr *ngFor="let obj of data | paginate: { itemsPerPage: 10, currentPage: currentPage, id: 'pagination-id' }">
           <td>{{ obj.symbol }}</td>
           <td>{{ obj.askPrice }}</td>
           <td>{{ obj.volume }}</td>
           <td>{{ obj.bidPrice }}</td>
           <td>{{ obj.highPrice }}</td>
           <td>{{ obj.lowPrice }}</td>
           <td>{{ obj.lastPrice }}</td>
           <td>{{ obj.openPrice }}</td>
         </tr>
       </tbody>
     </table>
   </div>
 
 
 </div>
 <div class="pagination-container d-flex justify-content-center">
  <pagination-controls
    (pageChange)="currentPage = $event"
    id="pagination-id"
    previousLabel="Previous"
    nextLabel="Next"
    class="custom-pagination">
  </pagination-controls>
</div>
 
